body {
    background: #333;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    box-shadow: 0 25px 25px -25px rgba(0,0,0,0.4);
}

button {
    border: 5px solid #111;
    padding: 5px;
    border-radius: 2px;
    background: #111;
    color: white;
}

.controls {
    padding: 5px;

    &__color {
        color: transparent;
        width: 50px;
    }
}
