body {
    background: #111111;
}

* {
    box-sizing: border-box;
}

button {
    border: 2px solid white;
    padding: 5px;
    border-radius: 2px;
    background: #fff;

    &.button-color {
        color: transparent;
        width: 50px;
    }
}